<div class="w-full relative">
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 text-black py-10 !z-10"
  >
    <div class="p-4 flex flex-col justify-center">
      <h3 class="font-bold tracking-wider !z-10">
        Welcome to a World of Exquisite Luxury
      </h3>
      <h1 class="text-5xl font-bold my-4 tracking-widest !z-10">
        Comfort Are Perfectly Combined Here !
      </h1>
      <div class="flex flex-col gap-2 text-justify">
        <p class="tracking-wide !z-10">
          Welcome to Pearls Hotel, where luxury meets tranquility in the heart
          of elegance. Nestled amidst lush landscapes and overlooking
          breathtaking vistas, Pearls Hotel is a sanctuary of opulence and
          refinement.
        </p>
        <p class="tracking-wide !z-10">
          Step into a world where every detail is meticulously crafted to
          indulge your senses and elevate your experience. From the moment you
          arrive, our dedicated staff ensure that your every need is not only
          met but exceeded, ensuring a seamless blend of comfort and
          sophistication
        </p>
        <p class="tracking-wide !z-10">
          At Pearls Hotel, we redefine luxury with a commitment to impeccable
          service, unparalleled amenities, and an unwavering dedication to
          exceeding your expectations. Experience the epitome of indulgence and
          discover a world of timeless elegance at Pearls Hotel.
        </p>
      </div>
      <!-- learn more -->
    </div>
    <div class="flex flex-col gap-5">
      <img
        src="/media/banner.png"
        alt=""
        class="aspect-square object-cover rounded-md !z-10"
      />
    </div>
  </div>
</div>
