---

---

<div class="h-screen w-full relative heroBg">
  <video autoplay muted loop class="object-cover w-full h-full fixed -z-50">
    <source src="/media/pearlbgP.mp4" />
  </video>
  <div class="bg-black/40 z-10 inset-0 absolute">
    <div
      class="container mx-auto flex flex-col justify-center items-center h-full"
    >
      <img
        src="/media/logonotext.png"
        alt="Pearls Hotel & Resorts"
        class="w-32 md:w-48"
      />
      <h1
        class="text-white text-4xl md:text-6xl font-bold text-center uppercase mt-4"
      >
        Pearl City groups
      </h1>
      <!-- <p class="text-white text-center mt-4 text-2xl">
        Indulge in Unparalleled Luxury
      </p> -->
    </div>
  </div>
</div>
