---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- back to top button -->
    <style is:global>
      .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        z-index: 999;
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
      }
      /* scroll bar */
      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background: #ffffffac;
      }
      ::-webkit-scrollbar-thumb {
        background: #000000;
        border-radius: 100px;
      }
    </style>
  </head>
  <body>
    <slot />
    <button
      class="back-to-top"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-up"
        ><path d="m5 12 7-7 7 7"></path><path d="M12 19V5"></path></svg
      >
    </button>
    <script is:inline>
      window.addEventListener("scroll", function () {
        const backToTop = document.querySelector(".back-to-top");
        if (window.scrollY > 100) {
          backToTop.style.display = "flex";
        } else {
          backToTop.style.display = "none";
        }
      });
    </script>
    <script>
      const menuToggle = document.getElementById("menu-toggle");
      const mobileMenu = document.getElementById("mobile-menu");

      menuToggle?.addEventListener("click", function () {
        mobileMenu?.classList.toggle("hidden");
      });
    </script>
    <script src="https://unpkg.com/read-smore@2.0.4/dist/index.umd.js"></script>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  .logoText {
    font-family: "Monoton", sans-serif;
  }
  html {
    font-family: "Playfair Display", serif;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
